<!-- <div  *ngIf="isManager">
    <div class="card" style="width: 30rem; margin-top: 5rem;">
        <div class="card-body">
            <label>Nome</label>
            <input type="text" [(ngModel)]="user.nome">
            <label>Cognome</label>
            <input type="text" [(ngModel)]="user.cognome">
            <label>Codice Fiscale</label>
            <input type="text" [(ngModel)]="user.codiceFiscale">
            <label>Data di Nascita</label>
            <input type="data" [(ngModel)]="user.dataDiNascita">
            <label>Email</label>
            <input type="email" [(ngModel)]="user.email">
            <label>Password</label>
            <input type="text" [(ngModel)]="user.password">
            <label>Cognome</label>
            <input type="text" [(ngModel)]="user.cognome">
            <div class="row" style="padding-top:1rem; padding-left:1rem;"><button class="btn btn-primary" (click)="registra()">Registra</button></div>
        </div>
    </div>
</div> -->

<div  style="padding-top:2rem;" *ngIf="!isManager">
  <div class="row">
    <i class="material-icons" style="margin:auto; font-size: 17rem;">error_outline</i>
  </div>
  <div class="row">
    <p style="margin:auto; font-size: 2rem;">
      <strong>Solo i manager possono registrare!</strong>
    </p>
  </div>
</div>

<div  *ngIf="isManager">
    <div class="card">
      <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
          <li class="nav-item">
            <a [ngClass]="dipendente ? 'nav-link active' : 'nav-link'" (click)="room = false; dipendente = true;">Dipendente</a>
          </li>
          <li class="nav-item">
            <a [ngClass]="room ? 'nav-link active' : 'nav-link'" (click)="room = true; dipendente = false;">Stanza</a>
          </li>
        </ul>
      </div>

      <div  *ngIf="dipendente">
        <div class="card" style="width: 30rem; margin-top: 5rem;">
          <div class="card-body">
            <label>Nome</label>
            <input type="text" class="input-text" [(ngModel)]="user.nome">
            <label>Cognome</label>
            <input type="text" class="input-text" [(ngModel)]="user.cognome">
            <label>Codice Fiscale</label>
            <input type="text" class="input-text" [(ngModel)]="user.codiceFiscale">
            <label>Data di Nascita</label>
            <input type="data" class="input-text" [(ngModel)]="user.dataDiNascita">
            <label>Email</label>
            <input type="email" class="input-text" [(ngModel)]="user.email">
            <label>Password</label>
            <input type="text" class="input-text" [(ngModel)]="user.password">
            <div class="row" style="padding-top:1rem; padding-left:1rem;"><button class="btn btn-primary" (click)="registraDipendente()">Registra</button></div>
        </div>
      </div>
    </div>

    <div  *ngIf="room">
      <div class="card" style="width: 30rem; margin-top: 5rem;">
        <div class="card-body">
          <label>Nome stanza</label>
          <input type="text" class="input-text" [(ngModel)]="stanza.nome">
          <label>Numero di Posti</label>
          <input type="text" class="input-text" [(ngModel)]="stanza.posti">
          <label style="margin-right:10%;">Dispositivi Disponibili</label>
          <div class="radio">
            <label><input type="radio" name="dispostivi1" [value]="true" [(ngModel)]="stanza.TV">TV</label>
          </div>
          <div class="radio">
            <label><input type="radio" name="dispostivi2" [value]="true" [(ngModel)]="stanza.proiettore">Proiettore</label>
          </div>
          <div class="radio">
            <label><input type="radio" name="dispostivi3" [value]="true" [(ngModel)]="stanza.lavagna">Lavagna</label>
          </div>
          <div class="radio">
            <label><input type="radio" name="dispostivi4" [value]="true" [(ngModel)]="stanza.lavagnaMultimediale">Lavagna Multimediale</label>
          </div>
          <div class="radio">
            <label><input type="radio" name="dispostivi5" [value]="true" [(ngModel)]="stanza.ethernet">Ethernet</label>
          </div>
          <div class="radio">
            <label><input type="radio" name="dispostivi6" [value]="true" [(ngModel)]="stanza.wiFi">WiFi</label>
          </div>
          <div class="row" style="padding-top:1rem; padding-left:1rem;"><button class="btn btn-primary" (click)="registraStanza()">Registra</button></div>
        </div>
      </div>
    </div>

  </div>
</div>
