<form #userlogin = "ngForm">
  <div class="row ml-3" style="margin-top: 5rem;">
    <div class="col-5 offset-2">
      <img src="../../assets/tb_bgk.jpg" class="img-fluid" alt="Team Managment Logo">
    <!--</div>-->
    <!--<div class="card col-4">-->
    </div>
    <div class="card-body col-3" style="margin-top: 5rem">
      <label>Codice Fiscale</label>
      <input type="text" name="codiceFiscale" class="input-text" [(ngModel)]="codiceFiscale">
      <label class="mt-1">Password</label>
      <input type="password" name="password" class="input-text" [(ngModel)]="password">
      <div class="row" style="padding-top:1rem; padding-left:1rem;">
        <button class="ladda-button blue"
                style="cursor: pointer"
                data-size="s"
                [disabled]="!codiceFiscale || !password"
                [ladda]="isLoading"
                (click)="login()">Login</button>
        <label class="error" *ngIf="error">{{error}}</label>
      </div>
    </div>
  </div>
</form>
