<div *ngIf = "employerLogService.isLogged()">
    <div *ngIf = "!employerLogService.isManager()">
        <div class="row">
            <i class="material-icons" style="margin:auto; font-size: 17rem;">error_outline</i>
        </div>
        <div class="row">
            <p style="margin:auto; font-size: 2rem;">
            <strong>Solo i manager possono registrare!</strong>
            </p>
        </div>
    </div>
    <div *ngIf="employerLogService.isManager()">
    <p>
        registra-utente works!
    </p>
    </div>
</div>