/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~material-design-icons/iconfont/material-icons.css';
@import '~ladda/dist/ladda.min.css';
.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}
.input-text{
    width: 100%;
    height: 25px;
    margin: 0 auto;
    border: none;
    border: solid 1px #ccc;
    border-radius: 10px;
}

.valid-action{
    cursor: pointer;
}

.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }
.material-icons.md-red { color: rgb(255, 0, 0); }
.material-icons.md-blue { color: rgb(20, 138, 225); }
.disabled {
    pointer-events: none;
    cursor: default;
}
 
.disabled {
    cursor: default;
}

.error{
    color: red;
    padding-bottom:  1rem;
    margin: auto;
}

.ladda-button.blue {
	background: #53b5e6;
	color: #fff;
	border-radius: 2px;
	border: 1px solid transparent;
}

.loader{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    background-image: url('https://media.giphy.com/media/mIaROTyFzeJQk/giphy.gif');
    background-repeat: no-repeat;
    background-position: center; 
}

.card-style{
    width: 40rem; 
    margin-top: 5rem;
}
