.name{
    margin: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}
.button-logout{
    border:none;
    background: none;
    padding-top: 0.5rem;
}
.hand{
    cursor: pointer;
}

ul a i{
    display: inline-flex;
    vertical-align: middle;
}
