.name{
    margin: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}
.button-logout{
    border:none;
    background: none;
    padding-top: 0.5rem;
}
.hand{
    cursor: pointer;
}

ul a i{
    display: inline-flex;
    vertical-align: middle;
}

.loader{
    width: 406px;
    height: 406px;
    background-image: url('https://media.giphy.com/media/mIaROTyFzeJQk/giphy.gif');
    background-repeat: no-repeat;
    margin-left: calc(50% - 203px);
    margin-top: calc(25% - 203px);
    
}