.name{
    margin: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}
.button-logout{
    border:none;
    background: none;
    padding-top: 0.5rem;
}

ul a i{
    display: inline-flex;
    vertical-align: middle;
}
/deep/ .padding-sm-top {
    padding-top: 25px !important;
}

/deep/ ngb-datepicker{
    width: 100% !important;
}

/deep/ .ngb-dp-month {
    width: 100%;
}
/deep/ .ngb-dp-weekdays,
/deep/ .ngb-dp-week {
    justify-content: space-evenly;
}