<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;" *ngIf = "employerLogService.isLogged()">
  <i (click)="visibleLogout()" class="material-icons hand">face</i>
  <label (click)="visibleLogout()" class="name hand">{{employerLogService.getNomeUtente()}} {{employerLogService.getCognomeUtente()}}</label>
  <button class="button-logout hand" *ngIf="isLogoutVisible" (click)="logout()"><i class="material-icons">exit_to_app</i></button>
  <div class="collapse navbar-collapse" id="navbarColor03">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" *ngIf="employerLogService.isManager()">
          <div ngbDropdown>
            <a class="nav-link" id="dropdownConfig" ngbDropdownToggle>Registra</a>
            <div ngbDropdownMenu aria-labelledby="dropdownConfig">
              <a class="dropdown-item" routerLink="/registraUtente">Utente</a>
              <a class="dropdown-item" routerLink="/registraTeam">Team</a>
              <a class="dropdown-item" routerLink="/registraPermessi">Permessi</a>
            </div>
          </div>
      </li>
      <li class="nav-item" *ngIf="employerLogService.isManager()">
          <div ngbDropdown>
            <a class="nav-link" id="dropdownConfig" ngbDropdownToggle>Gestione dipendenti</a>
            <div ngbDropdownMenu aria-labelledby="dropdownConfig">
              <a class="dropdown-item" routerLink="/visualizzaSkills">Visualizza Skills</a>
              <a class="dropdown-item" routerLink="/visualizzaTeam">Visualizza Team</a>
            </div>
          </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/gestionePermessi">Gestione permessi</a>
      </li>
    </ul>
    <form class="form-inline">
      <input class="form-control mr-sm-2" [(ngModel)]="searchField" name="search" type="search" placeholder="Team, utente" aria-label="Search">
      <button class="btn btn-info" (click)="search()"><i class="material-icons">search</i></button>
    </form>
  </div>
</nav>


<router-outlet></router-outlet>

