<nav class="row" style="background-color: #e3f2fd;" *ngIf="employerLogService.isLogged()">
  <div ngbDropdown class="d-inline-block">
    <a class="nav-link valid-action name" ngbDropdownToggle>
      <i class="material-icons">face</i>
      {{employerLogService.getNomeUtente()}} {{employerLogService.getCognomeUtente()}}
    </a>
    <div class="dropdown-menu" aria-labelledby="dropdownMenu1" ngbDropdownMenu>
        <a class="dropdown-item nav-link valid-action" routerLink="/visualizzaProfilo">
          <i class="material-icons" title="Info">perm_identity</i>
          Profilo utente
        </a>
        <a class="dropdown-item nav-link valid-action" (click)="logout()">
          <i class="material-icons" title="Logout">power_settings_new</i>
          Esci
        </a>
    </div>
  </div>


  <div ngbDropdown class="d-inline-block">
    <a class="nav-link valid-action d-none" ngbDropdownToggle>
        <i class="material-icons" title="Registra">add</i> 
        Registra
    </a>
    <div class="dropdown-menu" aria-labelledby="dropdownMenu1" ngbDropdownMenu>
      <a class="dropdown-item" routerLink="/registraUtente">
        <i class="material-icons" title="Registra utente">person_add</i>
        Utente
      </a>
      <a class="dropdown-item" routerLink="/registraTeam">
        <i class="material-icons" title="Registra team">group_add</i>
        Team
      </a>
    </div>
  </div>

  <div ngbDropdown class="d-inline-block">
    <a class="nav-link valid-action" ngbDropdownToggle>
      <i class="material-icons" title="Gestione permessi">event_note</i> 
      Gestione permessi
    </a>
    <div class="dropdown-menu" aria-labelledby="dropdownMenu1" ngbDropdownMenu>
      <a class="dropdown-item" routerLink="/registraPermessi">
        <i class="material-icons" title="Richiedi permesso">event_available</i>
        Richiedi un permesso
      </a>
      <a class="dropdown-item" routerLink="/gestionePermessiDipendente">
        <i class="material-icons" title="Riepilogo permesso">folder_open</i>
        Riepilogo permessi
      </a>
    </div>
  </div>
  <div class="d-none">
    <a class="nav-link valid-action" (click)="search()">
      <i class="material-icons">search</i>
      Cerca
    </a>
  </div>
</nav>
<router-outlet></router-outlet>

