<div class="loader" [hidden]="isReady">&nbsp;</div>
<form [hidden]="!isReady" #modificaUtente = "ngForm">
    <div class="card" style="width: 30rem; margin-top: 5rem;">
        <div class="card-header">
            <h5 class="card-title">Dati Utente</h5>
        </div>
        <div class="card-body">
            <label>Nome</label>
            <input type="text" class="input-text" name="nome" [(ngModel)]="nome" value="{{nome}}">
            <label>Cognome</label>
            <input type="text" class="input-text" name="cognome" [(ngModel)]="cognome" value="{{cognome}}">
            <label>Codice Fiscale</label>
            <input type="text" class="input-text" name="codiceFiscale" [(ngModel)]="codiceFiscale" value="{{codiceFiscale}}" readonly=true disabled=true>
            <label>Data di Nascita</label>
            <input type="date" class="input-text" name="dataDiNascita" [(ngModel)]="dataDiNascita" value="{{dataDiNascita}}">
            <label>Email</label>
            <input type="email" class="input-text" name="email" [(ngModel)]="email" value="{{email}}">
            <label>Vecchia Password</label>
            <input type="password" class="input-text" name="vecchiaPassword" [(ngModel)]="vecchiaPassword" (blur)="checkPassword()">
            <label>Nuova Password</label>
            <input type="password" class="input-text" name="nuovaPassword" [(ngModel)]="nuovaPassword" (blur)="checkPassword()">
            <label>Ripeti Password</label>
            <input type="password" class="input-text" name="ripetiNuovaPassword" [(ngModel)]="ripetiNuovaPassword" (blur)="checkPassword()">
            <h5 class="card-title" *ngIf="!showDatiBancari || showDatiBancari==false">Mostra dati bancari  <a class="valid-action" ><i class="material-icons" (click)="showDatiBancari=true">expand_more</i></a> </h5>
            <h5 class="card-title" *ngIf="showDatiBancari==true">Nascondi dati bancari <a class="valid-action" ><i class="material-icons" (click)="showDatiBancari=false">expand_less</i></a></h5>
            <div *ngIf="showDatiBancari">
                <label>Iban</label>
                <input type="text" class="input-text" name="iban" [(ngModel)]="iban" value="{{iban}}">
                <label>Banca</label>
                <select class="input-text" name="banca" [(ngModel)]="banca" required>
                    <option value="Poste Italiane">Poste Italiane</option>
                    <option value="Monte Paschi">Monte Paschi</option>
                </select>
                <label>BBC</label>
                <input type="text" class="input-text" name="bbc" [(ngModel)]="bbc" value="{{bbc}}">
            </div>
            <div class="row" style="padding-top:1rem; padding-left:1rem;">
                <button [disabled]="isDisabled()" class="ladda-button blue" data-size="s" [ladda]="isLoading" (click)="aggiornaDipendente()">Salva</button>
            </div>
            <label class="error" *ngIf="error">{{error}}</label>
            <label class="warning" *ngIf="warning">{{warning}}</label>
        </div>
    </div>
</form>
