<div class="row">
  <div class="col-md-6">
    <div *ngIf="datiDipendente">
      <div class="card" style="width: 30rem; margin-top: 5rem;">
          <div class="card-header">
              <h5 class="card-title">{{datiDipendente[0].dipendente.nome}} {{datiDipendente[0].dipendente.cognome}}</h5>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-4">
                <label style=" font-weight: bold;">Data di Nascita</label>
              </div>
              <div class="col-md-8">
                  {{datiDipendente[0].dipendente.data_nascita | date}}
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <label style=" font-weight: bold;">Email</label>
              </div>
              <div class="col-md-8">
                  {{datiDipendente[0].dipendente.email}}
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <label style=" font-weight: bold;">Ruolo</label>
              </div>
              <div class="col-md-8">
                  {{datiDipendente[0].dipendente.ruolo | uppercase}}
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
  
  <div class="col-md-6">
    <div class="card" style="width: 30rem; margin-top: 5rem;">
      <div class="card-header">
          <h5 class="card-title">Skills</h5>
      </div>
      <div class="card-body">
          <table class="table table-bordered">
              <thead>
                  <tr>
                      <th>Nome Skill</th>
                      <th>Seniority</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let skill of datiDipendente">
                      <td>
                        {{skill.skill[0].nome}}
                      </td>
                      <td>
                        {{skill.seniority}}
                      </td>
                  </tr>
              </tbody>
        </table>
      </div>
    </div>
  </div>
</div>