<div *ngIf = "employerLogService.isLogged()">
    <div *ngIf = "!employerLogService.isManager()">
        <div class="row">
            <i class="material-icons" style="margin:auto; font-size: 17rem;">error_outline</i>
        </div>
        <div class="row">
            <p style="margin:auto; font-size: 2rem;">
            <strong>Solo i manager possono registrare!</strong>
            </p>
        </div>
    </div>
    <div *ngIf="employerLogService.isManager()">
        <form #creaTeam = "ngForm" (ngSubmit) = "registraTeam()">
            <div class="card" style="width: 30rem; margin-top: 5rem;">
                <div class="card-body">
                    <label>Nome team</label>
                    <input type="text" class="input-text" name="nomeTeam" [(ngModel)]="nomeTeam">
                    <div class="row" style="padding-top:1rem; padding-left:1rem;">
                        <input type="submit" class="btn btn-primary" value="Crea">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>