<div *ngIf = "employerLogService.isLogged()" class="mt-2">
    <div *ngIf = "!employerLogService.isManager()">
        <div class="row">
            <i class="material-icons" style="margin:auto; font-size: 17rem;">error_outline</i>
        </div>
        <div class="row">
            <p style="margin:auto; font-size: 2rem;">
            <strong>Solo i manager possono registrare!</strong>
            </p>
        </div>
    </div>
    <div *ngIf="employerLogService.isManager()" class="row">
      <div class="col-12 text-center">
        <h1>Inserisci un nuovo Team</h1>
      </div>
      <div class="col-4 offset-2">
      <img
        src="../../assets/team.png"
        style="width: 100vh; margin-left: auto;"
        class="img-fluid"
        alt="Team">
      </div>
      <div class="col-4">
        <form #creaTeam = "ngForm">
            <div class="card">
              <div class="card-header">Nuovo Team</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-10">
                            <label>Nome team</label>
                            <input type="text" class="input-text" (click)="error=undefined" name="nomeTeam" [(ngModel)]="nomeTeam">
                            <div class="row" style="padding-top:1rem; padding-left:1rem;">
                                <button [disabled]="!nomeTeam" class="ladda-button blue" data-size="s" [ladda]="isLoading" (click) = "registraTeam()">Crea</button>
                                <label class="error" *ngIf="error">{{error}}</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
